/* app and bio description on home page */
.app-description,
.bio-description {
  text-align: center;
  margin-top: 0; /* Reduce top margin */
  margin-bottom: 0; /* Reduce bottom margin */
  font-weight: bold;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* app description on home page */
.app-description {
  font-size: 26px;
}

/* bio description on home page */
.bio-description {
  font-size: 20px;
}
